<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>

        <form [formGroup]="formIngresoEgreso" (ngSubmit)="createIngreso()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              formControlName="descripcion"
              type="text"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              formControlName="monto"
              type="number"
              class="form-control"
              placeholder="Monto"
              name="monto"
            />
            <p>
              Debe de ser un monto positivo
            </p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br />
            <button
              *ngIf="tipo === 'ingreso'"
              [disabled]="!formIngresoEgreso.valid"
              (click)="tipo = 'egreso'"
              type="button"
              class="btn btn-primary btn-block"
            >
              Ingreso
            </button>
            <button
              *ngIf="tipo === 'egreso'"
              [disabled]="!formIngresoEgreso.valid"
              (click)="tipo = 'ingreso'"
              type="button"
              class="btn btn-warning btn-block"
            >
              Egreso
            </button>
          </div>

          <hr />
          <button
            *ngIf="!isLoading"
            [disabled]="!formIngresoEgreso.valid"
            type="submit"
            class="btn btn-success mr-2"
          >
            <i class="fa fa-save"></i>
            Agregar
          </button>
          <button *ngIf="isLoading" disabled class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Espere por favor...
          </button>

          <button
            [disabled]="!formIngresoEgreso.valid"
            type="reset"
            class="btn btn-light"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
